@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

// your custom variables
@import "./variables.scss";

// UIkit default variables and mixins
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "my-mixins-theme.scss";

// import UIkit
@import "uikit/src/scss/uikit-theme.scss";


/* Nav */
.uk-navbar-nav > li a.uk-active {
	color: $navbar-nav-item-active-color;
}
.router-link-active {
	@extend .uk-active;
}

/* Hover */
a:hover {
	color: $nav-primary-item-hover-color;
	@if(mixin-exists(hook-nav-primary-item-hover)) {@include hook-nav-primary-item-hover();}
}

/* Active */
.router-link-active {
	color: $nav-primary-item-active-color;
}

.uk-input,
.uk-select,
.uk-textarea,
.uk-radio,
.uk-checkbox {
	border-radius: $base-border-radius-s;
}
.text-balance {
	text-wrap: balance;
}

/* Components */
.page-head {
	figure {
		min-height: 150px;
	}
}
.item-card {
	overflow: hidden;
	&:hover {
		.uk-card-media-top {
			img {
				transform: scale(1.05);
			}
		}
	}
	.uk-card-media-top {
		border-bottom: solid 1px #eee;
		overflow: hidden;
		img {
			object-fit: cover;
			max-height: 150px;
			transition: ease 0.3s all;
		}
	}
}

/* Brands*/
.brand-item {
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		max-height: 100px;
		object-fit: contain;
	}
	
}

/* Items */
.item-boxes {
	.uk-card {
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			max-width: 80px;
			max-height: 80px;
			@media (min-width: $breakpoint-medium) {
				max-width: 150px;
			}
		}
	}
	.item-code {
		width: 50px;
		height: 38px;
		position: relative;
		.item-code-letters {
			letter-spacing: -11px;
		}
		.item-code-number {
			font-family: arial;
			font-weight: 600;
			font-size: 15px;
			line-height: 1em;
			color: black;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}
